# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\maikor4370_00\OneDrive - Sicoob Unicoob\Maiko\Aula 2021\BD2\JPA\JPA-List-bd2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
